<main class="contenido-principal contenedor ">
    <h2 class="text-center">Nuestros Productos</h2>

    <div class="listado-productos">
        <div class="producto">
            <img src="assets/img/categoria1.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 1</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

        <div class="producto">
            <img src="assets/img/categoria2.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 2</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

        <div class="producto">
            <img src="assets/img/categoria3.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 3</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

        <div class="producto">
            <img src="assets/img/producto4.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 4</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

        <div class="producto">
            <img src="assets/img/producto5.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 5</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

        <div class="producto">
            <img src="assets/img/producto6.jpg" alt="Imagen Producto">

            <div class="texto-producto">
                <h3>Producto 6</h3>
                <p>Proin condimentum sodales risus ut aliquet. Nunc eu neque quis sapien feugiat posuere sed nec mauris.
                </p>
                <p class="precio">$1,000,000.00</p>

                <a class="btn" href="#">Agregar al Carrito</a>
            </div> <!-- Info Producto -->
        </div> <!-- Producto -->

    </div> <!-- Fin de Listado de Productos -->
</main>
