/** Header y Navegacion **/
.hero {
    background-image: url(../../assets/img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}
@media (min-width: 768px) {
    .hero {
        height: 55rem;
    }
}