/** Bloque Nosotros */
.sobre-nosotros {
    background-image: linear-gradient( to bottom, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../../assets/img/nosotros.jpg);
    background-position: left center ;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}
@media (min-width: 768px) {
    .sobre-nosotros {
        background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../../assets/img/nosotros.jpg);
        background-position: center, top left;
        padding: 10rem 0;
        background-size: 100%, 160rem;
    }   
}

.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) {
    .sobre-nosotros-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }
}
.texto-nosotros {
    grid-row: 2/3;
    color: #FFF;
    padding: 5rem;
}
@media (min-width: 768px) {
    .texto-nosotros {
        /* grid-column-start: 2;
        grid-column-end:  3; */
        grid-column: 2/3;
    }
}
