<main class="contenido-principal contenedor ">
    <h2 class="text-center">Sobre Nosotros</h2>
    
    <div class="contenido-nosotros">
        <div class="imagen">
            <img src="assets/img/nosotros.jpg" alt="Imagen nosotros" >
        </div>
        <div class="informacion-nosotros">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis quis consectetur animi beatae mollitia itaque ea dicta eos. Totam repellat temporibus autem aspernatur necessitatibus perspiciatis ea iste laborum ipsum!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores debitis quis consectetur animi beatae mollitia itaque ea dicta eos. Totam repellat temporibus autem aspernatur necessitatibus perspiciatis ea iste laborum ipsum!</p>
        </div>
    </div>
</main>

