/** Categorias **/
.categorias {
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .categoria {
        margin-bottom: 2rem;
    }  
}
.categoria img {
    width: 100%;
}
.categoria a {
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #FFFFFF;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 768px) {
    .listado-categorias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    } 
}