<section class="contenedor categorias">
    <h2 class="text-center">Categorías de Productos</h2>

    <div class="listado-categorias">
        <div class="categoria">
            <img src="assets/img/categoria1.jpg" alt="Imagen Categoría" />
            <a href="#">Oficina</a>
        </div>

        <div class="categoria">
            <img src="assets/img/categoria2.jpg" alt="Imagen Categoría" />
            <a href="#">Hogar</a>
        </div>

        <div class="categoria">
            <img src="assets/img/categoria3.jpg" alt="Imagen Categoría" />
            <a href="#">Cocina</a>
        </div>
    </div>
</section>