<main class="contenido-principal contenedor">
    <h2 class="text-center">Galería</h2>
    <ul class="galeria">
        <li>
            <a href="assets/img/galeria_01.jpg">
                <img src="assets/img/galeria_01.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_02.jpg">
                <img src="assets/img/galeria_02.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_03.jpg">
                <img src="assets/img/galeria_03.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_04.jpg">
                <img src="assets/img/galeria_04.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_05.jpg">
                <img src="assets/img/galeria_05.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_06.jpg">
                <img src="assets/img/galeria_06.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_07.jpg">
                <img src="assets/img/galeria_07.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_08.jpg">
                <img src="assets/img/galeria_08.jpg" alt="imagen galeria">
            </a>
        </li>
        <li>
            <a href="assets/img/galeria_09.jpg">
                <img src="assets/img/galeria_09.jpg" alt="imagen galeria">
            </a>
        </li>
    </ul>
</main>
