html {
    box-sizing: border-box !important;
    font-size: 62.5% !important; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit !important;
}
body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.6rem !important;
    line-height: 2 !important;
}

/* Globales */
h1, 
h2, 
h3 {
    font-family: 'Playfair Display', serif !important;
    margin: 0 0 5rem 0 !important;
}
h1 {
    font-size: 4rem !important;    
    
}
@media (min-width: 768px) {
    h1 {
        font-size: 5rem !important;
    } 
}
h2 {
    font-size: 4rem !important;
}
h3 {
    font-size: 3rem !important;
}
a {
    text-decoration: none !important;
    color: #000 !important;
}
.contenedor {
    max-width: 120rem ;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}

/** Utilidades */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}









