<main class="contenido-principal contenedor ">
    <h2 class="text-center">Nuestro Blog</h2>
    
    <section class="contenedor-blog">
        <div class="blog">
            <article class="entrada">
                <h2>Guía de Colores</h2>

                <div class="imagen">
                    <img src="../../assets/img/nosotros.jpg" alt="imagen blog">
                </div>

                <div class="entrada-meta">
                    <p>Fecha: <span>22 de Octubre de 2022</span> </p>
                    <p>Escrito por: <span>TiendaMuebles</span> </p>
                </div>

                <div class="entrada-blog">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium id numquam ducimus alias commodi eveniet, impedit amet! Quidem et tempore obcaecati vitae voluptatibus ipsam? Quae repudiandae sequi quas numquam nam.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati provident beatae fugiat laudantium possimus harum, magnam architecto soluta doloribus itaque dolores amet maiores pariatur ea quisquam voluptatem numquam? In, nobis!</p>
                </div>

                <a href="entrada.html" class="btn max-width-30">Leer</a>
                
            </article>

            <article class="entrada">
                <h2>Guía de Colores</h2>

                <div class="imagen">
                    <img src="../../assets/img/nosotros.jpg" alt="imagen blog">
                </div>

                <div class="entrada-meta">
                    <p>Fecha: <span>22 de Octubre de 2022</span> </p>
                    <p>Escrito por: <span>TiendaMuebles</span> </p>
                </div>

                <div class="entrada-blog">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium id numquam ducimus alias commodi eveniet, impedit amet! Quidem et tempore obcaecati vitae voluptatibus ipsam? Quae repudiandae sequi quas numquam nam.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati provident beatae fugiat laudantium possimus harum, magnam architecto soluta doloribus itaque dolores amet maiores pariatur ea quisquam voluptatem numquam? In, nobis!</p>
                </div>

                <a href="entrada.html" class="btn max-width-30">Leer</a>
                
            </article>
        </div>

        <aside>
            <h3>Otras Entradas de Blog</h3>
            <ul>
                <li>
                    <a href="entrada.html">Guía de Colores</a>
                </li>
                <li>
                    <a href="entrada.html">Nuevos Modelos</a>
                </li>
                <li>
                    <a href="entrada.html">Guía para diseño de interiores</a>
                </li>
                <li>
                    <a href="entrada.html">Guía para diseño de exteriores</a>
                </li>
            </ul>
        </aside>
    </section>
</main>
