/** Header y Navegacion **/
.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
    }
}